@model int

@{
    ViewBag.Title = "404 找不到内容";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found 错误</h4>
    <hr />
    <h6>查询不到 ID 为 @Model 的学生信息</h6>
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width: auto">
    返回学生列表
</a>